<% if current_user.admin? %>
<h4><%= link_to "Input a new grade", new_grade_path %></h4>

  <% @grades.each do |grade| %>
    <h3>Assignment ID: <%= grade[:assignment_id] %></h3>
    <h4>User: <%= grade[:user_id] %></h4>
    <h4>Score: <%= grade[:score] %> ( <%= grade.to_letter_grade %> ) </h4>
    <%= link_to "Delete", grade_path(grade), :method => 'delete' %>
  <% end %>
<% end %>


<% if current_user.teacher? %>
<h3>Grades for <%= current_user.courses.first.name %></h3>
  <% current_user.courses.first.users.student.each do |student| %>
    <h4><%= student.email %> (id: <%= student.id %>)</h4>
      <% student.grades.each do |grade| %>
      Assignment id: <%= grade.assignment_id %><br>
      Score: <%= grade.score %><br>
      <% end %>
    <% end %>


<% end %>
