<h2>Edit Assignment</h2>

<%= form_for [@semester, @course, @assignment] do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>
<div class="field">
  <%= f.label :status %>
  <%= f.text_field :status %>
</div>

<div class="field">
  <%= f.label "Select Teacher" %>
  <%= f.select(:user_id, User.teacher.map {|u|  [u.email, u.id] }) %>
</div>


<div class="field">
  <%= f.submit 'Update'%>
</div>
<% end %>
