<% if current_user.admin?  %>
  <h2>Admin Dashboard</h2>
<% else %>
  <h2>My Dashboard</h2>
<% end %>

<div class="container">

<% if current_user.admin?  %>
  Student accounts: <%= User.student.count %><br>
  Teacher accounts: <%= User.teacher.count %><br>

  <%= link_to "See all users", users_path %><br>
  <%= link_to "Current Enrollments", enrollments_path(current_user) %>

<% elsif current_user.student? %>
  <h4><%= pluralize((@courses.count), 'courses') %> enrolled:</h4>
    <ul>
      <% @courses.each do |c| %>
        <li><%= link_to "#{c.name}", semester_course_path(c.semester_id, c.id) %></li>
      <% end %>
    </ul>
  <h4><%= pluralize(current_user.assignments.completed.count, 'assignment') %> completed.</h4>
  <h4><%= pluralize(current_user.assignments.not_completed.count, 'assignment') %> not completed.</h4>

<% elsif current_user.teacher? %>
  <h4>Enrolled in <%= pluralize(@courses.count, 'course') %>: </h4>
    <% @courses.each do |c| %>
      <h4><%= c.name %> | <%= pluralize(c.users.student.count, 'student') %> | <%= pluralize(c.assignments.count, 'assignment') %></h4>
    <% end %>
  <h4>Students in my class:</h4>
    <ul>
    <% @courses.each do |c| %>
      <% c.users.student.each do |stu| %>
        <li><%= stu.email %></li>
      <% end %>
    </ul>
    <% end %>

    <%= link_to 'Input New Grade', new_grade_path %>


<% end %>



</div>
