<% if current_user.admin? %>
  <% @courses.each do |c| %>
    <h3> <%= c.name %> - Code: <%= c.code %> </h3>
    <%= link_to "Show", semester_course_path(@semester.id, c.id) %> | <%= link_to "Edit", edit_semester_course_path(@semester.id, c.id) %> | <%= link_to "Delete", semester_course_path(@semester.id, c.id), :method => 'delete' %>
  <% end %>
  <h3><%= link_to "Create New", new_semester_course_path(@semester.id, @course) %></h3>
<% else %>
  <% @courses.each do |c| %>
    <h3><%= link_to "#{c.name}", semester_course_path(@semester.id, c.id) %></h3>
  <% end %>
<% end %>
