
<div class="container">

<% if user_signed_in? %>
  <div class="container userrole">
      logged in as: <%= current_user.role %>
  </div>

<% end %>


  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Go To Course Catalog", semesters_path %></li>

      <% if user_signed_in? %>


        <% if current_user.admin? %>
          <li><%= link_to "Enrollments", enrollments_path(current_user) %></li>


        <% end %>
        <li><%= link_to "Dashboard", dashboard_path(current_user) %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>

        <li><%= link_to "Sign In", user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>

</div>
